.wrapper {
  position: relative;
  width: 100%;
}

.wrapper input {
  width: 100%;
  padding-right: calc(40 * var(--r));
}

.eye {
  position: absolute;
  right: calc(10 * var(--r));
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  font-size: calc(18 * var(--r));
}

@media (max-width: 768px) {
  .wrapper input {
    box-sizing: border-box;
    padding: calc(14 * var(--r)) calc(40 * var(--r)) calc(14 * var(--r)) calc(10 * var(--r));
    font-size: calc(18 * var(--r));
  }
}
