.block {
  color: var(--color-text);
  font-family: "Geologica";
}

.subtitle {
  font-size: calc(22 * var(--r));
  margin-bottom: calc(15 * var(--r));
  font-family: "Jomolhari";
}

.empty {
  margin-top: calc(20 * var(--r));
  font-size: calc(16 * var(--r));
  opacity: 0.7;
}

.list {
  display: flex;
  flex-direction: column;
  gap: calc(15 * var(--r));
}

.card {
  background: var(--color-surface-card);
  border: 1px solid var(--color-border-subtle);
  padding: calc(18 * var(--r));
  border-radius: calc(8 * var(--r));
}

.card p {
  margin: calc(4 * var(--r)) 0;
  font-size: calc(16 * var(--r));
}

.takeBtn {
  margin-top: calc(12 * var(--r));
  background: #840e0e;
  padding: calc(10 * var(--r)) calc(16 * var(--r));
  border-radius: calc(6 * var(--r));
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: calc(16 * var(--r));
  transition: 0.2s ease;
}

.takeBtn:hover {
  background: #a31212;
}
