h2 {
  font-family: "Jomolhari";
  font-size: calc(24 * var(--r));
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(30 * var(--r));
  margin-bottom: calc(20 * var(--r));
}

.arrow {
  color: rgb(102, 78, 78);
  background: none;
  border: none;
  font-size: calc(20 * var(--r));
  cursor: pointer;
}

.card {
  border: calc(2 * var(--r)) solid rgb(73, 14, 14);
  width: calc(200 * var(--r));
  max-width: 100%;
  padding: calc(10 * var(--r));
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--r));
  border-radius: calc(8 * var(--r));
  font-size: calc(14 * var(--r));
}

.stat {
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--r));
  margin-bottom: calc(15 * var(--r));
}

.stat p {
  font-size: calc(15 * var(--r));
}

.pending {
  display: flex;
  flex-direction: column;
  gap: calc(10 * var(--r));
  margin-top: calc(10 * var(--r));
}

.cards,
.cardss {
  display: flex;
  flex-wrap: wrap;
  gap: calc(10 * var(--r));
  margin-top: calc(10 * var(--r));
}

.empty {
  margin-top: calc(10 * var(--r));
  font-size: calc(16 * var(--r));
}

.approve,
.reject {
  background-color: var(--color-primary);
  font-family: "Geologica";
  font-size: calc(10 * var(--r));
  border: none;
  padding: calc(5 * var(--r));
  color: white;
  border-radius: calc(3 * var(--r));
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc(10 * var(--r));
  margin-top: calc(5 * var(--r));
}

@media (max-width: 768px) {
  .calendar {
    gap: calc(15 * var(--r));
  }

  .card {
    width: 100%;
  }
}
